.hidden {
	display: none;
}

.indent {
	margin-left: 20px;
}

div#header {
	padding-bottom: 10px;
	border-bottom: 3px solid;
}

div#title {
	margin: 10px;
	text-align: center;
	font-size: 20pt;
	font-weight: bolder;
}

div#content {
}

div#main {
	overflow: hidden;
	padding: 10px;
}

div#children {
	padding: 10px;
	padding-top: 0px;
}

div#pictureframe {
	width: 33%;
	height: auto;
	float: left;
	margin-right: 10px;
}

div#pictureframe img {
	width: 100%;
}

div#infopane {
	padding-bottom: 25px; /* Tooltips aren't showing over bottom of this div... */
	overflow: hidden;
}

div#footer {
	padding-top: 10px;
	border-top: 3px solid;
	font-size: 8pt;
	text-align: center;
}

.sectionheader {
	font-size: 14pt;
	font-weight: bold;
}

table.objectdata th {
	vertical-align: top;
	text-align: right;
}

table.datatable {
	border-spacing: 0;
	text-align: left;
}

table.datatable th {
	background: steelblue;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
}

table.datatable td {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	vertical-align: top;
}

table.datatable tr.oddrow {
	background: white;
}

table.datatable tr.evenrow {
	background: lightsteelblue;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    display: block;
    min-width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -70px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 70px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
